﻿
@{ ViewData["Title"] = "Площадь правильного многоугольника"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Площадь правильного многоугольника</h1>
    ccc
    <div>
        <figure>
            <img src="C:\Users\IKH\Desktop\Laba3TRPO\Laba4TRPO.wpf\Picture.png"/>
        </figure>
        <h1>S=(n*a^2)/(4tg(180/n))</h1>
        <form action="" method="post">
            <p>Длина сторон (а)</p>
            <input type="number" name="a" placeholder="Длина сторон (а)" value="" />
            <br />
            <p>К-во сторон (n)</p>
            <input type="number" name="n" placeholder="К-во сторон (n)" value="" />
            <br />
            <button id="button" class="btn-danger">Рассчитать</button>
            <br />

            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

    <style>
        image {
            width: 500px;
            height: 500px;
            position: relative;
            top: 20px;
            bottom: 20px;
            margin-bottom: 10px;
        }

        * {
            text-align: center;
        }

        #button {
            margin-top: 10px;
        }
    </style>
</body>
</html>


